/build/
*.o
*.a
*.so
src/crypto/pq/_d/ref/test/test_vectors[0-9]
src/crypto/pq/_d/ref/nistkat/PQCgenKAT_sign[0-9]
src/crypto/pq/_s/ref/PQCgenKAT_sign
src/crypto/pq/**/*.rsp
src/crypto/pq/**/*.req
*.log
.cookie
*.orig
